/*白天蓝色主题*/
:root{
    --bg-color:rgb(252 252 252);
    --heder-color:#fff;
    --footer-bg-color:#1e1d1d;
    --footer-font-color:rgb(255 255 255 / 55%);
    --footer-h-color:#03A9F4;
    --link-a-color:#fff;
    --link-a-hover:rgb(255, 255, 255);
    --font-color:#000;
    --font-s-color:#787878;
    --hover-color:#03A9F4;
    --home-hover-color:#ff4c89;
    --border-color:#efefef;
    --input-color:rgb(249 249 249);
    --input-border-radius: 4px;
    --alert-font-color: #fff;
    --alert-bg-color: #000000;
    --alert-button-color: #03A9F4;
    --alert-button-font-color: #fff;
    --button-color:#f4f4f4;
    --button-font-color:#727272;
    --menu-border-color:rgb(255 255 255 / 0%);
    --menu-color:#000;
    --box-shadow:0px 0px 2px rgb(98 124 153 / 10%);
    --rightlogin-bgcolor:linear-gradient(360deg, #ffffff, #f4faff, #ffebfa);
    --rightlogin-fontcolor:#fff;
    --dows-fontcolor:#fff;
    --page-font-color:#fff;
    --login-bg-color:#fff;
    --login-bg-img:url(/images/web/model-bg.png);
    --login-input-bg:#fff;
    --login-bg-filter: blur(0px);
    --x-bg-color:rgb(255 0 0 / 10%);
    --x-font-color:#ff3b00;
    --backtotop-bg:rgb(0 0 0 / 5%);
    --deta-title-bg:#383838;
    --info-bg-color:linear-gradient(343deg, #ffffff, #f1faff);
    --info-border-color:#fff;
    --xx-color:rgb(0 0 0 / 25%);
    --vip-color:linear-gradient(343deg, #bb7918, #ffd67a);
    --text-shadow:0px 0px 5px rgb(255 0 87);
    --all-center-color:rgb(13 28 65);
    --emoji-image-url:url(/style/emoji/emoji.png);
    --placeholder-color:#b3b3b3;
    --dropdown-bg-color:#fff;
    --h-font-color: #474747;
    --h-bg-color: #f9f9f9;
    --dow-bg-color: transparent;
    --dow-font-color: #787878;
    }