/*绿白主题*/
:root {
    --bg-color: #f7f7f7;
    --heder-color: #ffffff;
    --footer-bg-color: #2f2f2f;
    --footer-font-color: rgb(255 255 255 / 55%);
    --footer-h-color: #8bc34a;
    --link-a-color: #fff;
    --link-a-hover: rgb(255, 255, 255);
    --font-color: #000000;
    --font-s-color:rgb(151 151 151);
    --hover-color: #8bc34a;
    --home-hover-color: #ff9800;
    --border-color: #efefef;
    --input-color: #f9f9f9;
    --input-border-radius: 4px;
    --alert-font-color: #fff;
    --alert-bg-color: #2f2f2f;
    --alert-button-color: #8bc34a;
    --alert-button-font-color: #fff;
    --button-color: #f4f4f4;
    --button-font-color: #727272;
    --menu-border-color: rgb(255 255 255 / 0%);
    --menu-color:#000;
    --box-shadow: 0px 0px 2px rgb(98 124 153 / 10%);
    --rightlogin-bgcolor: linear-gradient(360deg, #ffffff, #f4faff, #ffdce2);
    --rightlogin-fontcolor: #fff;
    --dows-fontcolor: #fff;
    --page-font-color: #fff;
    --login-bg-color: #fff;
    --login-bg-img: #999;
    --login-input-bg: #fff;
    --login-bg-filter: blur(0px);
    --x-bg-color: rgba(153, 153, 153, 0.1);
    --x-font-color: #FF8F00;
    --backtotop-bg: rgb(0 0 0 / 5%);
    --deta-title-bg: #383838;
    --info-bg-color: linear-gradient(343deg, #ffffff, #f1fff2);
    --info-border-color: #fff;
    --xx-color: rgb(0 0 0 / 25%);
    --vip-color: linear-gradient(343deg, #bb7918, #ffd67a);
    --text-shadow: none;
    --all-center-color: rgb(15, 65, 13);
    --emoji-image-url: url(/style/emoji/emoji.png);
    --placeholder-color:#b3b3b3;
    --dropdown-bg-color:#fff;
    --h-font-color: #6f6f6f;
    --h-bg-color: #f4f4f4;
    --dow-bg-color: transparent;
    --dow-font-color: #787878;
  }