/*暗夜深色主题*/
:root {
    --bg-color: rgb(4 30 76);
    --heder-color: rgb(3 22 54);
    --footer-bg-color: rgb(3 22 54);
    --footer-font-color: rgb(53 103 191 / 50%);
    --footer-h-color: rgb(40 82 155);
    --link-a-color:rgb(66 134 255);
    --link-a-hover:rgb(255 255 255 / 50%);
    --font-color: rgb(40 82 155);
    --font-s-color: rgb(82 120 187);
    --hover-color: rgb(66 134 255);
    --home-hover-color: #E91E63;
    --border-color: rgb(53 103 191);
    --input-color: rgb(16 44 91);
    --input-border-radius: 4px;
    --alert-font-color: rgb(66 134 255);
    --alert-bg-color: #000000;
    --alert-button-color: rgb(53 103 191);
    --alert-button-font-color: rgb(3 22 54);
    --button-color: rgb(24 49 92);
    --button-font-color: rgb(82 138 237);
    --menu-border-color: rgb(255 255 255 / 0%);
    --menu-color: rgb(66 134 255);
    --box-shadow: 0px 0px 2px rgb(0 0 0);
    --rightlogin-bgcolor:linear-gradient(360deg, #ffffff00, rgb(65 38 129), #b34b98);
    --rightlogin-fontcolor:rgb(0 0 0 / 75%);
    --dows-fontcolor:rgb(255 255 255 / 50%);
    --page-font-color:rgb(255 255 255 / 70%);
    --login-bg-color:rgb(13 28 65);
    --login-bg-img:url(/images/web/model-bgn.png);
    --login-input-bg:rgb(13 28 65);
    --login-bg-filter: blur(50px);
    --x-bg-color:rgb(69 0 112 / 50%);
    --x-font-color:#ff9090;
    --backtotop-bg:rgb(0 0 0 / 15%);
    --deta-title-bg:rgb(40 82 155);
    --info-bg-color:linear-gradient(343deg, rgb(14 50 112), rgb(3 22 54));
    --info-border-color:rgb(3 22 54);
    --xx-color:#3F51B5;
    --vip-color:linear-gradient(343deg, #bb7918, #ffd67a);
    --text-shadow:0px 0px 5px rgb(0 20 255 / 50%);
    --all-center-color:#fff;
    --emoji-image-url:url(/style/emoji/emojiye.png);
    --placeholder-color: rgb(82 120 187 / 30%);
    --dropdown-bg-color:rgb(3 22 54);
    --h-font-color:#ffffff;
    --h-bg-color:rgb(4 30 76);
    --dow-bg-color: transparent;
    --dow-font-color: #5278bb;
}