/*黑白灰蓝色主题*/
:root {
    --bg-color: rgb(0 0 0);
    --heder-color: #212121;
    --footer-bg-color: #1e1d1d;
    --footer-font-color: #424242;
    --footer-h-color: rgb(66 134 255);
    --link-a-color: #ffffff;
    --link-a-hover: rgb(255, 255, 255);
    --font-color: #fff;
    --font-s-color: rgb(255 255 255 / 38%);
    --hover-color: rgb(66 134 255);
    --home-hover-color: #e91e63;
    --border-color: #484848;
    --input-color: rgb(43 43 43);
    --input-border-radius: 4px;
    --alert-font-color: rgb(66 134 255);
    --alert-bg-color:linear-gradient(0deg, #000000, rgb(0 0 0), rgb(59 59 59));
    --alert-button-color: rgb(66 134 255);
    --alert-button-font-color: #1c1c1c;
    --button-color: rgb(44 44 44);
    --button-font-color: #818181;
    --menu-border-color: rgb(255 255 255 / 0%);
    --menu-color: #ffffff;
    --box-shadow: 0px 0px 2pxrgb(98 124 153 / 10%);
    --rightlogin-bgcolor: linear-gradient(360deg, #212121, #000000, #000000);
    --rightlogin-fontcolor: #fff;
    --dows-fontcolor: #fff;
    --page-font-color: #fff;
    --login-bg-color: rgb(24 24 24);
    --login-bg-img: linear-gradient(180deg, #292929, #212121);
    --login-input-bg: #333333;
    --login-bg-filter: blur(10px);
    --x-bg-color: #1e1e1e;
    --x-font-color: #ff9800;
    --backtotop-bg: rgb(0 0 0 / 5%);
    --deta-title-bg: #383838;
    --info-bg-color: linear-gradient(140deg, #212121, #000000);
    --info-border-color: #4e4e4e;
    --xx-color: rgb(0 0 0 / 25%);
    --vip-color: linear-gradient(352deg, #ffd67a, #bb7918);
    --text-shadow: auto;
    --all-center-color: #ffffff;
    --emoji-image-url:url(/style/emoji/emoji.png);
    --placeholder-color: rgba(136, 136, 136, 0.5);
    --dropdown-bg-color:#454545;
    --h-font-color:#ffffff;
    --h-bg-color:rgb(45 45 45);
    --dow-bg-color: transparent;
    --dow-font-color: #818181;
}